
#StudentCouncil{
    background:cyan
    
}

#Drawing{
    background:yellow ;
}
      
#Projects{
   background:red ;
}
#Videos{
    background: white;
}
#Me{
 background:greenyellow ;
}

#zero{
    color: pink;
}
#one{
    color: aqua;
}
    
#two{
    color: bisque;
}

#three{
    color: blanchedalmond;
}

#four{
    color: blue;
}
#five{
    color: antiquewhite;
}

#six{
    color: beige;
}

#seven{
    color: aquamarine;
}
#eight{
    color: greenyellow;
}

#Nine{
    color: aqua;
}

#audi{
    color: beige;
}
#speech{
    color: beige;
}
#prop{
    color:beige
}
#Minato{
    color: beige;
}
#Slender{
    color: beige;
}
#Bell{
    color:beige
}
#Video{
    color:beige
}